.confirmation_form {
  min-height: 200px;
  width: 66%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E1F7FA;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.45);
  padding: 5px;
}

.confirmation_button {
  margin: auto;
  cursor: pointer;
  border:thin solid #26BDF0;
  background-color: #fff;
  border-radius: 2.5px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
  height: 2.5em;
  width: 10em;
  color: #26BDF0;
  font-size: 14px;
}

.confirmation_button:hover {
  color: #fff;
  background-color: #26BDF0;
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.30);
}

.confirmation_cancel {
  height: 15px;
  color: #26BDF0;
  text-align: right;
  font-size: 13px;
  cursor: pointer;
  margin-right: 10px;
  align-self: flex-end;
  line-height: 1.5;
}

.confirmation_cancel:hover {
  color: #146C90;
  height: 14px;
  border-bottom: thin solid #146C90;
}
