.menu {
  width: 150px;
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 0;
  background-color: white;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  transform: translateY(-250px);
  visibility: hidden;
  box-shadow: 0px 1px 5px 0px gray;
}

.menu.show {
  transform: translateY(0px);
  opacity: 1;
  z-index: 0;
  visibility: visible;
}

.menu__user {
  margin: 0;
  padding-left: 10px;
  padding-top: 35px;
  padding-bottom: 60px;
  color: #26bdf0;
}

.menu__item {
  display: flex;
  flex-direction: column;
  height: 200px;
  text-align: left;
}

.menu__item button, .menu__item a {
  border: none;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: rgba(13, 74, 104, 0.8);
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
  text-align: left;
}

.menu__item button:hover, .menu__item a:hover {
  color: #0d4a68;
}
