.menu {
  width: 150px;
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 0;
  background-color: #d3eeff;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  transform: translateY(-250px);
  visibility: hidden;
  box-shadow: 0px 3px 5px -3px grey;
}

.menu.show {
  transform: translateY(0px);
  opacity: 1;
  z-index: 0;
  visibility: visible;
}

.menu__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 200px;
  /*padding-top: 42px;*/
  padding: 30px 40px;
  text-align: right;
}
.menu__item button, .menu__item a{
  border: none;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  color: rgba(13, 74, 104, 0.8);
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
}

.menu__item button:hover, .menu__item a:hover {
  color: #0d4a68;

}
