.menu {
  width: 100%;
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 0;
  background-color: white;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  transform: translateY(-250px);
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  box-shadow: 3px 6px 8px 0 rgba(0, 0, 0, 0.2), 10px 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu.show {
  transform: translateY(0px);
  opacity: 1;
  z-index: 0;
  visibility: visible;
}

.fa {
  margin: 20px;
  font-size: 30px;
}
.menu__item {
    height: 50px;
    padding-top: 42px;
    padding-right: 40px;
    text-align: right;
}
.menu__item button {
  border: none;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  color: #0d4a68;
  background-color: transparent;
  cursor: pointer;
}
