.availability-title {
  font-size: 20px;
  margin: 0;
  padding: 20px 10px 15px 15px;
  border-bottom: 1px solid #dfdfdf;
}
.availability-title > spam {
  font-size: 15px;
}

.noon{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.separator {
  border-top: 1px solid lightgray;
  height: 1px;
  width: 40%;
}

@media only screen and (min-width: 641px) {
  .availability-title {
    font-size: 30px;
    margin: 0;
    padding: 20px 10px 15px 40px;
    border-bottom: 1px solid #dfdfdf;
  }
  .availability-title > spam {
    font-size: 20px;
  }

  .noon{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .separator {
    border-top: 1px solid lightgray;
    height: 1px;
    width: 40%;
  }

  .timeSlot {
    min-width: 300px;
  }
}
