.booking {
  text-align: center;
  padding-top: 30px;
}

.booking > p {
  text-align: left;
}

.week {
  margin-top:20px;
  display:flex;
  align-items: center;
}

.week > i {
  width: 5%;
  font-size: 35px;
  cursor: pointer;
}
