.home_title {
  padding: 20px 10px 15px 10px;
  border-bottom: 1px solid #dfdfdf;
  margin-top:0;
  font-size: 20px;
}

.all_bookings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 300px;
}
