.home_title {
  padding: 20px 10px 15px 10px;
  border-bottom: 1px solid #dfdfdf;
  margin-top:0;
  font-size: 20px;
}

.all_bookings {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
}

.filter_buttons {
  display: flex;
  justify-content: space-around;
}

.filter_buttons > button {
  margin: auto;
  cursor: pointer;
  background-color: #fff;
  border:thin solid #26BDF0;
  border-radius: 2.5px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
  height: 2.5em;
  width: 10em;
  color: #26BDF0;
  font-size: 14px;
}

.filter_buttons > button:hover {
  background-color: #26BDF0;
  color: #fff;
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.30);
}
