.App-navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #26bdf0;
  background-image: url(../../public/dialogue-squarelogo.png);
  background-repeat: no-repeat;
  background-size: 65px 65px;
  color: white;
  z-index: 10;
}
.App-navbar > h2 {
  margin-left: 70px
}

.App-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.App-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.App-item p, img{
  margin: 10px;
}
