.App-navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #26bdf0;
  background-image: url(../../public/dialogue-squarelogo.png);
  background-repeat: no-repeat;
  background-size: 65px 65px;
  color: white;
  z-index: 10;
  box-shadow: 0px 3px 5px -3px grey;
}

.App-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.App-item p, img{
  margin: 10px;
}

.App-item i {
  cursor: pointer;
}

.App-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.popUpForm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0,0,0, 0.20);
}

.blue {
  color: #26BDF0;
  font-size: 45px !important;
}
