html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.day-md {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding:0;
}

.day-md a{
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 200px;
  border: 3px solid #26bdf0;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
  box-shadow: 0px 6px 5px -3px gray;
}

.noAv-md {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 3px solid #dfdfdf;
  background-color: white;
  width: 200px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9e9e9e;
  transition: 0.5s;
}

/* Classes that apply to medium and larger devices */
@media only screen and (min-width: 641px) {
  .day-md {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding:0;
  }

  .day-md a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border: 3px solid #26bdf0;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.5s;
    box-shadow: 0px 6px 5px -3px gray;
  }

  .day-md a:hover {
    box-shadow: none;
  }

  .dayName-md {
    font-size: 14px;
    color: #0d4a68;
  }

  .noAv-md {
    border: 3px solid #dfdfdf;
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9e9e9e;
    transition: 0.5s;
  }
}
