.day {
  width: 90%;
  list-style: none;
  padding:0;
}

.loading {
  width: 90%;
  height: 112px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.day a {
  height: 80px;
  width: 80px;
  background-color: #0d4a68;
  text-decoration: none;
  box-shadow: 0px 4px 15px black;
}

.day a:hover{
  height: 78px;
  width: 78px;
  box-shadow: none;
}

.dayName {
  font-size: 14px;
  color: #fff;
}

.noAv {
  background-color: #7b7b7b;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Classes that apply to medium and larger devices */
@media only screen and (min-width: 641px) {
  .day-md {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding:0;
    height: 112px
  }

  .day-md a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background-color: #0d4a68;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.5s;
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.65);
  }

  .day-md a:hover {
    box-shadow: none;
  }

  .dayName-md {
    font-size: 14px;
    color: #fff;
  }

  .noAv-md {
    background-color: #7b7b7b;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
}
