body {
  margin: 0;
  padding: 0 1em;
  padding-top:60px;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0d4a68;
}

p, a, i {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(13, 74, 104, 0.8);
}
